@import '../../src/scss/modules/vars';

section.card-grid {
	.entries {
		flex-wrap: wrap;
		gap: 1.5rem;
	}
	.entry {
		display: block;
		text-decoration: none;
		width: calc( 50% - 0.75rem );
		padding: 1.5rem;
		background-color: #fff;
		border: 1px solid rgba( 132, 81, 163, 0.12 );
		border-radius: 12px;
		box-shadow: 0 2px 12px rgba( 0, 0, 0, 0.04 );

		@media ( max-width: $mobile_wide ) {
			width: 100%;
		}
	}
	&.cards-shadow {
		.entry {
			box-shadow: 0 4px 4px rgba( 0, 0, 0, 0.25 );
		}
	}
	&.cols-3 {
		.entry {
			width: calc( ( 100% - 3rem ) / 3 );

			@media ( max-width: $tablet_tall ) {
				width: calc( 50% - 0.75rem );
			}
			@media ( max-width: $mobile_wide ) {
				width: 100%;
			}
		}
	}
	.entry-inner {
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
	.image-wrap {
		img ,
		svg {
			display: block;
			width: auto;
			height: 50px;
		}
	}
	a.entry {
		transition: box-shadow .2s;

		h3 {
			transition: color .2s;
		}
		svg path {
			transition: fill .2s;
		}
		&:not(.light):hover {
			h3 {
				color: var( --theme-accent, #{$accent} );
			}
			.image-wrap svg path {
				fill: var( --theme-accent, #{$accent} );
			}
		}
	}
	.entry-text {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
		height: inherit;

		.eyebrow-chip {
			align-self: center;
			padding: 0.75em 2.25em;
			font-size: 20px;
			box-shadow: none;
		}
		.body-text ,
		.body-text p {
			font-size: 18px;
			line-height: 1.29;
		}
		.cta {
			margin-top: auto;
			width: fit-content;
		}
	}
	.entry.light {
		border-color: transparent;
	}
	&.layout-inline {
		.entry {
			padding: 2.5rem 2rem;
		}
		.entry-inner {
			flex-direction: row;
			align-items: center;
			gap: 1.5rem;
		}
		.entry-text {
			justify-content: center;
		}
		.image-wrap {
			img ,
			svg {
				height: 100px;
			}
		}
		h3 {
			font-size: 25px;
			line-height: 1.02;
		}
	}
}
