@import '../../src/scss/modules/vars';

section.icon-grid {
	overflow: hidden;
	.inner {
		display: flex;
		flex-direction: column;
		gap: 5rem;

		@media ( max-width: $tablet_tall ) {
			gap: 3rem;
		}
	}
	.heading-wrap {
		display: flex;
		justify-content: space-between;
		gap: 4rem;
		@media ( max-width: $tablet_tall ) {
			flex-direction: column-reverse;
			gap: 2rem;
		}
	}
	.heading {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		max-width: 800px;
		br {
			@media (max-width: $tablet_wide ) {
				display: none;
			}
		}
	}
	.heading-content {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		@media (max-width: $mobile_wide ) {
			gap: 1rem;
		}
	}
	.body-text {
		opacity: 0.7;

		strong {
			font-family: 'gordita-medium';
			font-weight: 500;
			font-size: 20px;
		}
		p {
			margin-bottom: 4px;
			text-shadow: 0 0 2px rgba(255, 255, 255, 0.15);
		}
	}
    .entry-inner {
		padding: 0.5rem;
		text-align: center;
        h2, h3, h4, h5, h6 {
            text-align: center;
			margin-bottom: 0;
			opacity: 0.8;
			text-shadow: 0 0 2px rgba(255, 255, 255, 0.15);
        }
    }
	.icon {
        display: flex;
        justify-content: center;
		height: auto;
        margin-bottom: 1.5rem;
		img, svg {
			height: 100%;
			max-height: 300px;
			min-height: 36px;
			width: auto;
		}

		@media (max-width: $mobile_wide ) {
			margin-bottom: 1rem;
		}
	}
	&.cols-2 {
		.entry {
			gap: 3rem;
			width: calc( ( 100% / 2 ) );
			@media ( max-width: $mobile_wide ) {
				width: calc( ( 100% ) );
			}
		}
		a.entry {
			&:after {
				align-self: flex-end;
			}
		}
	}
	&.cols-3 {
		.entry {
			width: calc( ( 100% / 3 ) );
			@media ( max-width: $tablet_wide ) {
				width: calc( ( 100% / 2 ) );
			}
			@media ( max-width: $mobile_wide ) {
				width: calc( ( 100% ) );
			}
		}
	}
	&.cols-4 {
		.entry {
			width: calc( ( 100% / 4 ) );
			@media ( max-width: $tablet_wide ) {
				width: calc( ( 100% / 2 ) );
			}
			@media ( max-width: $mobile_wide ) {
				width: calc( ( 100% ) );
			}
		}
	}
	.entries {
		display: flex;
		flex-wrap: wrap;
		@media ( max-width: $mobile_wide ) {
			flex-direction: column;
            align-items: center;
		}
	}
}