.main {
	> section {
		&:nth-child(1) {
			padding-top: calc( var( --spacing-top ) + var( --theme-navigation-height ) + #{$header_offset} );
			@media ( max-width: $mobile_wide ) {
				padding-top: calc( var( --spacing-top ) + var( --theme-navigation-height-mobile ) + #{$header_offset} );
			}
		}
	}
}

header.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: $header_offset $header_offset 0;
	z-index: 999;
	--header-background: var(--theme-navigation-background-light);
	--header-color: var(--theme-navigation-foreground-light);
	--header-color-alt: var(--theme-navigation-highlight-light);
	color: var(--header-color);
	&.light {
		--header-background: var( --theme-navigation-background-dark, var( --theme-navigation-background-light ) );
		--header-color: var( --theme-navigation-foreground-dark, var( --theme-navigation-foreground-light ) );
		--header-color-alt: var( --theme-navigation-highlight-dark, var( --theme-navigation-highlight-light ) );
		.logo {
			--logo-background: var( --theme-navigation-logo-dark, var( --theme-navigation-logo-light ) );
			@media (max-width: $tablet_wide) {
				--logo-background: var( --theme-navigation-logo-dark-mobile, var( --theme-navigation-logo-dark, var( --theme-navigation-logo-light ) ) );
			}
		}
		&:hover {
			--header-background: var( --theme-navigation-background-hover, var( --theme-navigation-background-light ) );
			--header-color: var( --theme-navigation-foreground-hover, var( --theme-navigation-foreground-light ) );
			--header-color-alt: var( --theme-navigation-highlight-hover, var( --theme-navigation-highlight-light ) );
			.logo {
				--logo-background: var( --theme-navigation-logo-hover, var( --theme-navigation-logo-light ) );
				@media (max-width: $tablet_wide) {
					--logo-background: var( --theme-navigation-logo-hover-mobile, var( --theme-navigation-logo-hover, var( --theme-navigation-logo-light ) ) );
				}
			}
		}
	}
	&:hover ,
	.nav-open & ,
	.scrolled & {
		--header-background: var( --theme-navigation-background-hover, var( --theme-navigation-background-light ) );
		--header-color: var( --theme-navigation-foreground-hover, var( --theme-navigation-foreground-light ) );
		--header-color-alt: var( --theme-navigation-highlight-hover, var( --theme-navigation-highlight-light ) );
		.logo {
			--logo-background: var( --theme-navigation-logo-hover, var( --theme-navigation-logo-light ) );
			@media (max-width: $tablet_wide) {
				--logo-background: var( --theme-navigation-logo-hover-mobile, var( --theme-navigation-logo-hover, var( --theme-navigation-logo-light ) ) );
			}
		}
	}
	.nav-open & ,
	.scrolled & {
		--theme-navigation-height: var( --theme-navigation-height-mobile );
	}
	.container {
		transition: background-color .2s;
		max-width: var( --theme-content-width );
		margin: 0 auto;
		background-color: var(--header-background);
		border-radius: 100px;
		box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
	}
	.inner {
		margin: 0 2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: $tablet_wide) {
			height: var( --theme-navigation-height-mobile );
		}
	}
	a {
		transition: color .2s;
		text-decoration: none;
		color: inherit;
	}
	.cta {
		font-size: 18px;
	}
	.logo {
		display: block;
		position: relative;
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		z-index: 2;
		transition: all .2s;
		--logo-width: var( --theme-navigation-logo-width );
		--logo-height: var( --theme-navigation-logo-height );
		--logo-background: var( --theme-navigation-logo-light );
		width: var( --logo-width );
		height: var( --logo-height );
		background-image: var( --logo-background );
		@media (max-width: $tablet_wide) {
			--logo-width: var( --theme-navigation-logo-width-mobile, var( --theme-navigation-logo-width ) );
			--logo-height: var( --theme-navigation-logo-height-mobile, var( --theme-navigation-logo-height ) );
			--logo-background: var( --theme-navigation-logo-light-mobile, var( --theme-navigation-logo-light ) );
		}
	}
	.btn-group {
		display: flex;
		gap: 7px;
		position: relative;
		z-index: 2;
		align-items: center;
	}
	.utility {
		display: none;
		padding: 1.5rem 1rem;
		flex-direction: column;
		justify-content: flex-start;
		gap: 1rem;
		@media (max-width: $tablet_wide) {
			display: flex;
		}
	}
	.desktop {
		display: block;
		@media (max-width: $tablet_wide) {
			display: none;
		}
	}
	.mobile {
		display: none;
		@media (max-width: $tablet_wide) {
			display: block;
		}
	}
	.navtoggle {
		transition: border-color .2s;
		display: none;
		border-radius: 6px;
		width: 40px;
		height: 40px;
		align-items: center;
		justify-content: center;
		border: 2px solid transparent;
		@media (max-width: $tablet_wide) {
			display: flex;
		}
		.hamburger-inner, 
		.hamburger-inner::before, 
		.hamburger-inner::after {
			transition: background-color .2s;
			background-color: var(--header-color);
		}
		.nav-open & {
			border-color: transparent;
			.hamburger-inner, 
			.hamburger-inner::before, 
			.hamburger-inner::after {
				background-color: var(--header-color);
			}
		}
	}
	#header-cta {
		@media (max-width: $tablet_wide) {
			width: fit-content;
		}
	}
	#primary {
		.menu-items {
			display: flex;
			flex-direction: column;
			gap: 1.5rem;
			a {
				transition: color .2s, padding .2s;
				padding: 0 0 0 25px;
				position: relative;
				background: url( '/wp-content/themes/tiffanyotten/assets/svg/nav-arrow.svg' ) no-repeat left center;
				&:hover {
					padding: 0 0 0 25px;
					color: var( --header-color-alt );
				}
				&.active {
					color: var( --header-color-alt );
				}
			}
		}
		.details {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			p {
				margin: 0;
			}
			.blurb {
				line-height: 140%;
			}
		}
		.promo {
			img {
				width: 100%;
				height: auto;
				border-radius: 8px;
			}
		}
		/* --- mobile --- */
		@media (max-width: $tablet_wide) {
			transition: all .2s;
			display: block;
			position: absolute;
			z-index: 1;
			width: calc( 100% );
			top: 0;
			left: 0;
			padding: 0 $header_offset 3rem;
			background-color: var( --header-background );
			height: 0;
			overflow: hidden;
			&:before {
				transition: height .2s;
				content: '';
				display: block;
				width: 100%;
				height: calc( var( --theme-navigation-height-mobile ) + #{$header_offset} * 2 );
			}
			.nav-open & {
				height: 100vh;
				height: 100dvh;
				overflow-y: auto;
			}
			.menu-root-item {
				position: relative;
				z-index: 1;
				> a {
					position: relative;
					transition: color .2s;
					display: block;
					text-decoration: none;
					font-weight: 500;
					font-size: 20px;
					letter-spacing: -0.01em;
					padding: 1.25rem 1rem;
					&::before {
						transition: transform .2s, color .2s;
						content: '';
						position: absolute;
						display: block;
						width: 12px;
						height: 2px;
						top: 50%;
						right: 1rem;
						background-color: var(--header-color);
						transform: rotate(-90deg);
					}
					&::after {
						transition: color .2s;
						content: '';
						position: absolute;
						display: block;
						width: 12px;
						height: 2px;
						top: 50%;
						right: 1rem;
						background-color: var(--header-color);
					}
					&:hover {
						color: var( --header-color-alt );
					}
				}
				&.active {
					> a {
						color: var( --header-color-alt );
					}
				}
				&.single-link {
					> a {
						&::before ,
						&::after {
							display: none;
						}
					}
				}
				&.is-active {
					> a {
						&::before {
							background-color: var( --header-color-alt );
							transform: rotate(0deg);
						}
						&::after {
							background-color: var( --header-color-alt );
							transform: rotate(0deg);
						}
					}
				}
				.mega-wrap {
					display: none;
				}
				.mega-inner {
					display: flex;
					flex-direction: column;
					gap: 1rem;
					padding-bottom: 1rem;
				}
				.details {
					.s_24 {
						display: none;
					}
				}
				.promo {
					width: 304px;
				}
			}
			.mega {
				padding: 0 1rem;
			}
		}
		/* --- desktop --- */
		@media (min-width: $tablet_wide) {
			margin-left: auto;
			margin-right: 2rem;
			display: flex;
			gap: 2rem;
			.menu-root-item {
				> a {
					transition: all .2s;
					position: relative;
					display: block;
					text-decoration: none;
					padding: 0 15px 0 0px;
					height: var( --theme-navigation-height );
					line-height: var( --theme-navigation-height );
					&::before {
						transition: transform .2s, color .2s;
						content: '';
						position: absolute;
						display: block;
						width: 8px;
						height: 2px;
						top: 50%;
						right: 0px;
						background-color: var(--header-color);
						transform: rotate(-90deg);
					}
					&::after {
						transition: color .2s;
						content: '';
						position: absolute;
						display: block;
						width: 8px;
						height: 2px;
						top: 50%;
						right: 0px;
						background-color: var(--header-color);
					}
					&:hover {
						&::before {
							background-color: var(--header-color);
							transform: rotate(0deg);
						}
						&::after {
							background-color: var(--header-color);
							transform: rotate(0deg);
						}
						color: var( --header-color-alt );
					}
				}
				&.single-link {
					> a {
						padding: 0;
						&::before ,
						&::after {
							display: none;
						}
					}
				}
				&.active {
					> a {
						color: var( --header-color-alt );
					}
				}
				.mega-wrap {
					transition: all .2s;
					position: absolute;
					top: calc( #{$header_offset} + var( --theme-navigation-height ) + 0.5rem );
					left: $header_offset;
					right: $header_offset;
					z-index: -1;
					visibility: hidden;
					background-color: var( --header-background );
					border-radius: 24px;
					box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
				}
				.mega {
					max-width: var( --theme-content-width );
					margin: 0 auto;
					color: var(--header-color);
				}
				.mega-inner {
					margin: 2rem 1rem;
					display: flex;
					gap: 2rem;
				}
				.details {
					width: 290px;
				}
				.menu {
					width: calc( 100% - 290px - 378px - 4rem );
				}
					.menu-items {
						padding: 0 2rem;
						display: flex;
						flex-direction: column;
						flex-wrap: wrap;
						max-height: 200px;
					}
				.promo {
					margin-left: auto;
					width: 378px;
				}
					
				&:hover {
					.mega-wrap {
						visibility: visible;
					}
				}
			}
		}
	}
}