footer ,
section {

	--swiper-theme-color: var( --theme-ui-background );

	position: relative;
	background: none no-repeat center center;
	background-size: cover;

	--space-default: 6rem;
	--space-default-tablet: 5rem;
	--space-default-mobile: 4rem;
	--space-xlarge: 12rem;
	--space-xlarge-tablet: 10rem;
	--space-xlarge-mobile: 6rem;
	--space-large: 10rem;
	--space-large-tablet: 8rem;
	--space-large-mobile: 4rem;
	--space-small: 3rem;
	--space-small-tablet: 2rem;
	--space-small-mobile: 1rem;
	--spacing-top: var(--space-default);
	--spacing-bottom: var(--space-default);
	padding-top: var(--spacing-top);
	padding-bottom: var(--spacing-bottom);
	@media (max-width: $tablet_wide) {
		--spacing-top: var(--space-default-tablet);
		--spacing-bottom: var(--space-default-tablet);
	}
	@media (max-width: $mobile_wide) {
		--spacing-top: var(--space-default-mobile);
		--spacing-bottom: var(--space-default-mobile);
	}
	&.spacing-top-xlarge {
		--spacing-top: var(--space-xlarge);
		@media (max-width: 1000px) {
			--spacing-top: var(--space-xlarge-tablet);
		}
		@media (max-width: $tablet_wide) {
			--spacing-top: var(--space-xlarge-mobile);
		}
	}
	&.spacing-bottom-xlarge {
		--spacing-bottom: var(--space-xlarge);
		@media (max-width: 1000px) {
			--spacing-bottom: var(--space-xlarge-tablet);
		}
		@media (max-width: $tablet_wide) {
			--spacing-bottom: var(--space-xlarge-mobile);
		}
	}
	&.spacing-top-large {
		--spacing-top: var(--space-large);
		@media (max-width: 1000px) {
			--spacing-top: var(--space-large-tablet);
		}
		@media (max-width: $tablet_wide) {
			--spacing-top: var(--space-large-mobile);
		}
	}
	&.spacing-bottom-large {
		--spacing-bottom: var(--space-large);
		@media (max-width: 1000px) {
			--spacing-bottom: var(--space-large-tablet);
		}
		@media (max-width: $tablet_wide) {
			--spacing-bottom: var(--space-large-mobile);
		}
	}
	&.spacing-top-small {
		--spacing-top: var(--space-small);
		@media (max-width: 1000px) {
			--spacing-top: var(--space-small-tablet);
		}
		@media (max-width: $tablet_wide) {
			--spacing-top: var(--space-small-mobile);
		}
	}
	&.spacing-bottom-small {
		--spacing-bottom: var(--space-small);
		@media (max-width: 1000px) {
			--spacing-bottom: var(--space-small-tablet);
		}
		@media (max-width: $tablet_wide) {
			--spacing-bottom: var(--space-small-mobile);
		}
	}
	&.spacing-top-none {
		--spacing-top: 0;
	}
	&.spacing-bottom-none {
		--spacing-bottom: 0;
	}

	h1, h2, h3, h4, h5, h6, p {
		margin: 0;
	}

	@media ( max-width: $mobile_wide ) {
		br {
			display: none;
		}
	}

	color: var( --theme-fonts-base-text );
	h1, h2, h3, h4, h5, h6 {
		color: var( --theme-fonts-heading-text );
	}
	.body-text {
		color: var( --theme-fonts-body-text );
	}
	.eyebrow {
		color: var( --theme-fonts-eyebrow-text );
	}

	.light ,
	&.dark .light ,
	&.light {
		color: var( --theme-fonts-base-text-dark );
		h1, h2, h3, h4, h5, h6 {
			color: var( --theme-fonts-heading-text-dark );
		}
		.body-text {
			color: var( --theme-fonts-body-text-dark );
		}
		.eyebrow {
			color: var( --theme-fonts-eyebrow-text-dark );
		}
	}

	.dark ,
	&.light .dark ,
	&.dark {
		color: var( --theme-fonts-base-text );
		h1, h2, h3, h4, h5, h6 {
			color: var( --theme-fonts-heading-text );
		}
		.body-text {
			color: var( --theme-fonts-body-text );
		}
		.eyebrow {
			color: var( --theme-fonts-eyebrow-text );
		}
	}

	.eyebrow-chip.eyebrow-chip {
		font-size: 35px;
		letter-spacing: 0;
		text-transform: uppercase;

		@media ( max-width: $mobile_wide ) {
			font-size: 26px;
		}
	}
	.eyebrow-chip.eyebrow-chip {
		display: inline-block;
		width: fit-content;
		margin-bottom: 2rem;
		padding: 0.65em 2.3em;
		border: 1px solid transparent;
		border-radius: 58px;
		background-color: $lavender;
		box-shadow: 0 4px 4px rgba( 0, 0, 0, 0.25 );
		color: var( --theme-accent, #{$accent} );
	}
	.heading-content .eyebrow-chip.eyebrow-chip {
		margin-bottom: 0;
	}

	.highlight {
		color: var( --theme-accent, #{$accent} );
	}
	.body-text ul.checklist {
		padding-left: 0;
		list-style: none;

		li {
			display: flex;
			align-items: flex-start;
			margin-bottom: 1rem;

			&::before {
				content: "";
				display: block;
				min-width: 26px;
				height: 26px;
				margin-right: 14px;
				background: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='13' cy='13' r='11.96' fill='%23E9D1F7'/%3E%3Cpath d='M13 24.375C6.71776 24.375 1.625 19.2822 1.625 13C1.625 6.71776 6.71776 1.625 13 1.625C19.2822 1.625 24.375 6.71776 24.375 13C24.375 19.2822 19.2822 24.375 13 24.375ZM13 26C20.1797 26 26 20.1797 26 13C26 5.8203 20.1797 0 13 0C5.8203 0 0 5.8203 0 13C0 20.1797 5.8203 26 13 26Z' fill='%239F3DDB'/%3E%3Cpath d='M17.8257 8.07571C17.8142 8.08721 17.8034 8.09938 17.7934 8.11217L12.1508 15.3022L8.7488 11.9002C8.27285 11.4243 7.50118 11.4243 7.02523 11.9002C6.54927 12.3762 6.54927 13.1479 7.02523 13.6238L11.3257 17.9243C11.8017 18.4002 12.5733 18.4002 13.0493 17.9243C13.0599 17.9137 13.0699 17.9025 13.0792 17.8908L19.5666 9.78164C20.0252 9.30445 20.0194 8.54583 19.5493 8.07571C19.0733 7.59976 18.3017 7.59976 17.8257 8.07571Z' fill='%239F3DDB'/%3E%3C/svg%3E") no-repeat;
				background-size: contain;
			}
		}
	}
	h1, h2, h3, h4, h5, h6 {
		strong {
			font-weight: 700;
			color: var( --theme-accent, #{$accent} );
		}
		em {
			font-style: inherit;
			color: var( --theme-accent, #{$accent} );
		}
	}
	.body-text a {
		color: var( --theme-fonts-link-text, #{$accent} );

		&:hover {
			color: var( --theme-fonts-link-text-hover, var( --theme-fonts-link-text, #{$accent} ) );
		}
	}

	.light ,
	&.dark .light ,
	&.light {
		.eyebrow-chip.eyebrow-chip {
			background-color: transparent;
			border-color: var( --theme-fonts-eyebrow-text-dark, #{$lime} );
			color: var( --theme-fonts-eyebrow-text-dark, #{$lime} );
		}
		.highlight {
			color: var( --theme-fonts-eyebrow-text-dark, #{$lime} );
		}
		h1, h2, h3, h4, h5, h6 {
			strong ,
			em {
				color: var( --theme-fonts-eyebrow-text-dark, #{$lime} );
			}
		}
		.body-text a {
			color: var( --theme-fonts-link-text-dark, #{$lime} );

			&:hover {
				color: var( --theme-fonts-link-text-dark-hover, var( --theme-fonts-link-text-dark, #{$lime} ) );
			}
		}
	}

	picture ,
	video ,
	img {
		display: block;
		width: 100%;
		height: auto;
	}

	.graphic {
		.video-object {
			position: relative;
			.video-overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
				pointer-events: none;
			}
			iframe {
				display: block;
				height: auto;
				width: 100%;
				border: none;
			}
		}
	}

	.underlay {
		--background-image: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		overflow: hidden;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: var(--background-image);
		video {
			animation-name: fadeIn;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		&.sizing-cover {
			background-size: cover;
			video {
				object-fit: cover;
			}
		}
		&.sizing-contain {
			background-size: contain;
			video {
				object-fit: contain;
			}
		}
	}
	.underlay + .container {
		position: relative;
		z-index: 2;
	}

	.container {
		max-width: var( --theme-content-width );
		margin: 0 auto;
		.inner {
			margin: 0 1rem;
		}
		.container {
			max-width: none;
			margin: auto;
			.inner {
				margin: 0;
			}
		}
	}

	.flex {
		display: flex;
	}
	.flex-v {
		flex-direction: column;
	}

	.swiper-slide {
		box-sizing: border-box;
	}

}

@font-face {
	font-family: 'Poppins';
	src: url( /wp-content/themes/bmr/assets/fonts/poppins/Poppins-Medium.ttf ) format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}