@import '../../src/scss/modules/vars';

section.expanded-cards {
	.entries {
		flex-wrap: wrap;
		gap: 16px;
	}
	.entry {
		text-decoration: none;
		width: calc(25% - 16px);
		height: 440px;
		margin-bottom: 16px;
		transition: width 0.3s, height 0.3s;

		@media ( max-width: $mobile_wide ) {
			height: auto;
			margin-bottom: 0;
		}

		&--expanded {
			width: calc(50% - 16px);
			
			.entry-text, img {
				opacity: 1;
				visibility: visible;
				transition: opacity 0.3s, visibility 0.3s;
			}
			.entry-text-closed > p {
				color: #F5F1ED;
			}
			.expand-title  {
				opacity: 0;
				visibility: hidden;
			}
			.entry-bg-default, .entry-bg-hover {
				opacity: 0 !important;
				visibility: hidden !important;
			}
			@media ( max-width: $mobile_wide ) {
				height: 440px;
			}
			.entry-text-fade {
				display: block;
			}
		}

		&:hover, &:focus {
			.entry-bg-default {
				opacity: 0;
				visibility: hidden;
			}
			.entry-bg-hover {
				opacity: 1;
				visibility: visible;
			}
			.expand-title, p {
				color: #F5F1ED;
			}
		}

		@media ( max-width: $mobile_wide ) {
			width: 100%;
		}
	}
	.entry-inner {
		height: 100%;
		display: flex;
		flex-direction: column;
		position: relative;
		overflow: hidden;
	}
	img {
		position: absolute;
		left: 0;
		top: 0;
		background-size: cover;
		background-position: center center;
		height: 100%;
		width: auto;
		opacity: 0;
		visibility: hidden;

		@media ( max-width: $mobile_wide ) {
			transform: translateX(-20%);
		}
	}
	.entry-button {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: transparent;
		border: 0;
		z-index: 10;
	}
	.entry-text {
		display: flex;
		flex-direction: column;
		gap: 16px; 
		height: inherit;
		padding: 1.5rem;
		border-radius: 4px;
		opacity: 0;
		visibility: hidden;
		z-index: 2;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);

		p {
			color: #F5F1ED;
		}
	}
	.entry-text-fade {
		display: none;
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100px;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
		backdrop-filter: blur(8px);
		mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
		transition: all 0.3s;
	}
	.entry-text-closed {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: inherit;
		padding: 1.5rem;
		border-radius: 4px;
		opacity: 1;
		visibility: visible;
		z-index: 2;

		background: none;
		backdrop-filter: blur(0px);
		mask-image: none;

		@media ( max-width: $mobile_wide ) {
			height: unset;
		}
	}
	.expand-title {
		font-size: 200px;
		transition: color 0.2s, opacity 0.3s;

		@media ( max-width: $mobile_wide ) {
			font-size: 100px;
			margin-top: 2rem;
		}
	}
	p {
		transition: color 0.2s;
	}
	.entry-bg-default {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-image: url('/wp-content/themes/bmr/assets/img/bmrExpandDefaultBg.png');
		background-size: cover;
		opacity: 1;
		visibility: visible;
		transition: opacity 0.2s, visibility 0.2s;
	}
	.entry-bg-hover {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-image: url('/wp-content/themes/bmr/assets/img/bmrExpandHoverBg.png');
		background-size: cover;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.2s, visibility 0.2s;
	}
	
	h1 {
		margin-top: auto;
		color: #FFF;

		@media ( max-width: $mobile_wide ) {
			font-size: 48px;
			line-height: 110%;
			letter-spacing: -1.92px;
			text-transform: uppercase;
		}
	}
}