@import '../../src/scss/modules/vars';

.page-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    min-height: 90dvh;

    h1 {
        margin-bottom: 1rem;

        @media ( max-width: $mobile_wide ) {
            br {
                display: none;
            }
        }
    }
    .eyebrow {
        margin-bottom: 1rem;
    }
    .heading {
        @media ( max-width: $mobile_wide ) {
            padding-bottom: 2rem;
        }
    }
    .body-text {
        max-width: 60%;

        @media ( max-width: $mobile_wide ) {
            max-width: 100%;
        }
    }
}