@import '../../src/scss/modules/vars';

.page-head {

    h1 {
        margin-bottom: 1rem;
    }
    .eyebrow {
        margin-bottom: 1rem;
    }
    .heading {
        @media ( max-width: $mobile_wide ) {
            padding-bottom: 2rem;
        }
    }
    .body-text {
        max-width: 60%;

        @media ( max-width: $mobile_wide ) {
            max-width: 100%;
        }
    }
}