@import '../../src/scss/modules/vars';

section.form-embed {
	position: relative;
	overflow: hidden;

	.heading ,
	.heading-content {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}
	.content-inner {
		width: 54%;
		margin-right: 4rem;
		z-index: 3;

		@media ( max-width: $mobile_wide ) {
			margin-right: 0;
			width: 100%;
		}
	}
	.contentf {
		@media ( max-width: $mobile_wide ) {
			flex-direction: column;
			align-items: center;
			gap: 2rem;
		}
	}
	.graphic {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 46%;
		z-index: 3;

		@media ( max-width: $mobile_wide ) {
			width: 100%;
		}
		picture ,
		img {
			width: 100%;
			object-fit: cover;
			object-position: center;

			@media ( max-width: $tablet_wide ) {
				height: auto;
			}
		}
	}
	.gform_wrapper {
		position: relative;
		z-index: 3;
	}
}
