@import '../../src/scss/modules/vars';

section.awards {
	overflow: hidden;
	.inner {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		@media ( max-width: $tablet_tall ) {
			gap: 2rem;
		}
	}
	.eyebrow {
		color: #F26419;
		margin: auto;
		text-align: center;
		margin-bottom: 3rem;

		@media ( max-width: $mobile_wide ) {
			margin-bottom: 0;
		}
	}
	.body-text {
		margin: auto;
		text-align: center;
		max-width: 768px;
	}
	.entries {
		display: flex;
		justify-content: center;
		gap: 72px;
		flex-wrap: wrap;
		@media ( max-width: $mobile_wide ) {
			gap: 24px;
			flex-direction: column;
            align-items: center;
		}
	}
	.entry {
		max-width: 200px;
	}
    .entry-inner {
		padding: 0.5rem;
		text-align: center;
        h5 {
            text-align: center;
			font-size: 16px;

			@media ( max-width: $mobile_wide ) {
				font-size: 14px;
			}
        }
    }
	.award-image {
        display: flex;
        justify-content: center;
		height: auto;
        margin-bottom: 2.5rem;
		img, svg {
			width: 200px;
		}
	}
	&.cols-2 {
		.entry {
			gap: 3rem;
			width: calc( ( 100% / 2 ) );
			@media ( max-width: $mobile_wide ) {
				width: calc( ( 100% ) );
			}
		}
		a.entry {
			&:after {
				align-self: flex-end;
			}
		}
	}
	&.cols-3 {
		.entry {
			width: calc( ( 100% / 3 ) );
			@media ( max-width: $tablet_wide ) {
				width: calc( ( 100% / 2 ) );
			}
			@media ( max-width: $mobile_wide ) {
				width: calc( ( 100% ) );
			}
		}
	}
	&.cols-4 {
		.entry {
			width: calc( ( 100% / 4 ) );
			@media ( max-width: $tablet_wide ) {
				width: calc( ( 100% / 2 ) );
			}
			@media ( max-width: $mobile_wide ) {
				width: calc( ( 100% ) );
			}
		}
	}
}