// brand colors
$accent: #5430C8;
$lime: #DCEB3F;
$lavender: #DED3F4;

// header
$header_offset: 1.5rem;

// breakpoints
$desktop: 1280px;
$tablet_wide: 1080px;
$tablet_tall: 900px;
$mobile_wide: 640px;
$mobile_tall: 480px;
